screenshot
.env
conftest.py
classes/utils/LogManager.py
.pyc*


run_tests.py
.env.docker
.env.desktop

.dockerignore
videos
config
.vscode


__pycache__/
*.pyc
assets/
assets\92d54a4f-e78c-42a7-92d8-e974dc85ba6f



